@import "tailwindcss";


/*
|--------------------------------------------------------------------------
| GLOBAL RESET
|--------------------------------------------------------------------------
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*
|--------------------------------------------------------------------------
| GLOBAL INTER FONT
|--------------------------------------------------------------------------
*/

:root,
html,
body,
#root {
    font-family: "Inter", sans-serif !important;
}


body,
div,
section,
main,
header,
footer,
aside,
nav,
article,
form,
label,
button,
input,
textarea,
select,
option,
a,
p,
span,
small,
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
    font-family: "Inter", sans-serif !important;
}


/*
|--------------------------------------------------------------------------
| BODY
|--------------------------------------------------------------------------
*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    background: #ffffff;
    color: #1f2937;

    font-family: "Inter", sans-serif !important;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
|--------------------------------------------------------------------------
| ROOT
|--------------------------------------------------------------------------
*/

#root {
    min-height: 100vh;
}


/*
|--------------------------------------------------------------------------
| FORM ELEMENTS
|--------------------------------------------------------------------------
*/

button,
input,
textarea,
select {
    font: inherit !important;
    font-family: "Inter", sans-serif !important;
}


/*
|--------------------------------------------------------------------------
| LINKS & BUTTONS
|--------------------------------------------------------------------------
*/

button,
a {
    cursor: pointer;
}


/*
|--------------------------------------------------------------------------
| MEDIA
|--------------------------------------------------------------------------
*/

img,
svg {
    display: block;
}


/*
|--------------------------------------------------------------------------
| DEFAULT INPUT
|--------------------------------------------------------------------------
*/

input,
textarea,
select {
    outline: none;
}